<!-- 
<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">{{ 'Username' | translate }}</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          {{'Username is required!'| translate}}
        </div>
      </div>
      <div class="form-group">
        <label for="password">{{ 'Password' | translate }}</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">{{'Password is required'| translate}}</div>
          <div *ngIf="password.errors['minlength']">
            {{'Password must be at least 6 characters'| translate}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          {{ 'Login' | translate }}
        </button>
      </div>
      <div class="form-group">
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
          {{'Login failed:'| translate}} {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      {{'Logged in as'| translate}} {{ roles }}.
    </div>
  </div>
</div> -->

<head>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<div class="container">
  <div class="image_fond">
    <img  src="https://cdn-icons-png.flaticon.com/512/1179/1179406.png?w=740&t=st=1683126088~exp=1683126688~hmac=8b2ca277d0a4f5f51a5346a2f2b553f1086c5bdafe3b32e263630f6a2ddb91cf" alt="error">
  </div>

<div class="all-card">
<h3 class="h3"> Bienvenue dans FRS</h3>
<h1 class="h1"> Login for making the right decision.</h1>


<div class="col-md-12">
  
  <div class="card card-container">
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />

    <h1>User Login</h1>
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
    <br>
      <div class="form-group">
        <label class="label" for="username">{{ 'Username' | translate }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          />
          <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
            {{'Username is required!'| translate}}
          </div>
        </div>
      </div>
     <br> 
      <div class="form-group">
        <label class="label" for="password">{{ 'Password' | translate }}</label>
        <div class="input-group">
          <div class="input-group-prepend1">
            <span class="input-group-text">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          
          <input  type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
        </div>
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">{{'Password is required'| translate}}</div>
          <div *ngIf="password.errors['minlength']">
            {{'Password must be at least 6 characters'| translate}}
            </div>
          </div>
        </div>
      <br>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          {{ 'Login' | translate }}
        </button>
      </div>
      <div class="form-group">
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
          {{'Login failed:'| translate}} {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      {{'Logged in as'| translate}} {{ roles }}.
    </div>
  </div>
</div>
</div>
</div>




