

<h3>{{ 'Client details' | translate }}</h3>
 <div>
    <div>
      <label><b>{{ 'Name: ' | translate }} </b></label>{{client.nom}}
      
    </div>

    <div>
        <label><b>{{ 'Date of birth: ' | translate }}</b></label>{{client.date_naissance}}
        
    </div>
    <div>
        <label><b>{{ 'Telephone: ' | translate }}</b></label>{{client.num_telephone}}
        
    </div>

    <div>
      <label><b>{{ 'Email: ' | translate }}</b></label>{{client.email}}
      
  </div>

  <div>
    <label><b> {{ 'Company: ' | translate }}</b></label>{{client.entreprise}}
    
</div>

<div>
  <label><b>{{ 'Commentary: ' | translate }}</b></label>{{client.commentaire}}
  
</div>
 </div> 
   
 
