<div class="col-md-6 offset-md-3">
  <h1 style="font-size: 200%; width: 150%; margin-top: 20px;">{{ 'Update product' | translate }}</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">{{ 'Name' | translate }}</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="produit.nom" name="nom">
    </div>
    <br>

    <div class="form-group">
      <label for="code_produit">{{ 'Product Code' | translate }}</label>
      <input type="text" class="form-control" id="code_produit" required [(ngModel)]="produit.code_produit" name="code_produit">
    </div>
    <br>

    <div class="form-group">
      <label for="categorie">{{ 'Category' | translate }}</label>
      <input type="text" class="form-control" id="categorie" required [(ngModel)]="produit.categorie" name="categorie">
    </div>
    <br>

    <div class="form-group">
      <label for="prix">{{ 'Price' | translate }}</label>
      <input type="text" class="form-control" id="prix" required [(ngModel)]="produit.prix" name="prix">
    </div>
    <br>

    <div class="form-group">
      <label for="description">{{ 'Description' | translate }}</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="produit.description" name="description">
    </div>
    <br>

    <button type="submit" class="btn btn-success">{{ 'Submit' | translate }}</button>
  </form>
</div>

