

<h3>{{ 'Transaction details' | translate }}</h3>
 <div>
    <div>
      <label><b>{{ 'Transaction type: ' | translate }} </b></label>{{transaction.typeTransaction}}
      
    </div>

    <div>
        <label><b>{{ 'Product: ' | translate }}</b></label>{{transaction.produit}}
        
      </div>

      <div>
        <label><b>{{ 'Client: ' | translate }}</b></label>{{transaction.client}}
        
      </div>

      <div>
        <label><b>{{ 'Payment method: ' | translate }}</b></label>{{transaction.methodePaiement}}
        
      </div>

      <div>
        <label><b>{{ 'Amount: ' | translate }}</b></label>{{transaction.montant}}
        
      </div>

      <div>
        <label><b>{{ 'Transaction status: ' | translate }} </b></label>{{transaction.statutTransaction}}
        
      </div>

 </div> 
