<head>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<h3 class="h3">Create your account</h3>
<h1 class="h1">Sign up in just a few seconds! </h1>
<img
id="profile-img"
src="https://cdn-icons-png.flaticon.com/512/1179/1179403.png?w=740&t=st=1683407668~exp=1683408268~hmac=727a17f5e60702a2e7be7b27bfdb3843cc51d6048a3a7575883caa2e3fc27314"
class="profile-img"
/>


 
    
   
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
     <br>
     <div class="all-card">
     <div class="form-group">
      <h1>User Sign in</h1>
      <br>
      <label class="label" for="username">{{ 'Username' | translate }}</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          {{'Username is required!'| translate}}
        </div>
      </div>
    </div>
      <div class="form-group">
        <label for="email">{{ 'Email' | translate }}</label>
        <div class="input-group">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          </div>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
          />
         
        </div>
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">{{'Email is required'| translate}}</div>
          <div *ngIf="email.errors['email']">
            {{'Email must be a valid email address'| translate}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">{{ 'Password' | translate }}</label>
        <div class="input-group">
          <div class="input-group-prepend1">
            <span class="input-group-text">
              <i class="fas fa-lock"></i>
            </span>
            
          </div>
         
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
          <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">{{'Password is required'| translate}}</div>
            <div *ngIf="password.errors['minlength']">
              {{'Password must be at least 6 characters'| translate}}
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <button class="btn btn-primary btn-block">{{ 'Sign in' | translate }}</button>
      </div>
    </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        {{'Signup failed!'| translate}}<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      {{'Your registration is successful!'| translate}}
    </div>
  




